<form class="form" [formGroup]="dateForm" novalidate (ngSubmit) = "onSearch()">
  <section class="form-block">
    <div class="form-group">
      <label for="symbolControl">Symbol</label>
      <input id="symbolControl" type="text" clrInput formControlName="stockSymbol">
      <label for="fromDateControl">From Date</label>
      <input id="fromDateControl" type="date" clrDate formControlName="fromDate"/>
      <label for="toDateControl">To Date</label>
      <input id="toDateControl" type="date" clrDate formControlName="toDate"/>
      <button type="submit"> Test </button>
    </div>
  </section>
</form>
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <div class="chartWrapper">
    <canvas id="stockChart" baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
  </div>
</div>