<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <clr-icon shape="piggy-bank" size="36" class="is-inverse"></clr-icon>
            <span class="title">GitStocks.io</span>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
            <ul>
                <li>Favorites</li>
            </ul>
        </nav>
    </div>
</div>
