<form  class="form" [formGroup]="login" novalidate (ngSubmit) = "onLogin()">
    <section class="form-block">
        <label>Login</label>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" clrInput formControlName="email"/>
            <label for="password">Password</label>
            <input id="password" type="password" clrInput formControlName="password"/>
            <button (click)="onSubmit()" type="submit"> Login </button>
        </div>
    </section>
</form>