<form class="form" [formGroup]="dateForm" novalidate (ngSubmit) = "onSearch()">
  <section class="form-block">
    <label>Reactive Form Demo</label>
    <div class="form-group">
      <label for="fromDateControl">From Date</label>
      <input id="fromDateControl" type="date" clrDate formControlName="fromDate"/>
      <label for="toDateControl">To Date</label>
      <input id="toDateControl" type="date" clrDate formControlName="toDate"/>
      <button type="submit" (click)="sendDates()"> Test </button>
    </div>
  </section>
</form>